.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
}
.nav-logo {
  a {
    font-size: 2.6rem;
  }
}
.nav-link_container {
  display: flex;
  gap: 22px;
  align-items: center;
  a.active {
    border-bottom: 1px solid black;
  }
  li a {
    font-size: 2rem;
  }
  li:last-child {
    background-color: #4338ca;
    padding: 4px 12px;
    border-radius: 6px;
    a {
      color: white;
    }
  }
}

@media (max-width: 900px) {
  .nav-logo a {
    font-size: clamp(2rem, 3vw, 2.4rem);
  }
  .nav-link_container {
    gap: 10px;
  }
  .nav-link_container li a {
    font-size: clamp(1.5rem, 2.5vw, 1.8rem);
  }
}
@media (max-width: 500px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
}
